
<%- include('./includes/header.ejs') %>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./includes/sidebar.ejs',{'page' : 'contact'}) %>
        </div>
        <div class="col-sm-10">
            <div class="container mt-5">
                <h1 class="text-warning mb-5 border-bottom"> Contact Me</h1>
            <div class="row text-white mb-5">
            <p class="mx-auto mb-5">Do you have any questions? Please do not hesitate to contact.</p>
            <div class="col-sm-9 mb-5">
                <form action="">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" id="name" class="form-control mt-2" />
                        </div>
                        <div class="col-md-6">
                            <label for="email">Your Email *</label>
                            <input type="text" id="email" class="form-control mt-2" required />
                        </div>
                        <div class="col-md-12">
                            <label for="subject">Your Subject</label>
                            <input type="text" id="subject" class="form-control mt-2" />
                        </div>
                        <div class="col-md-12">
                            <label for="message">Your Message *</label>
                            <textarea type="text" id="message" class="form-control mt-2" required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit"> Send </button>
                </form>
            </div>
            <div class="col-sm-3 text-center">
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                        <p>Ahmedabad, Gujarat</p>
                    </li>
                    <li>
                        <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                        <p>+91 9664679783</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                        <p>jakhaniyadigvijay02@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="https://digvijay.rf.gd" target="_blank" class="m-lg-2"><i class="fa fa-briefcase i-color fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/digvijayjakhaniya/" target="_blank" class="m-lg-2"><i class="fab fa-linkedin i-color fa-2xl"></i></a>
        <a href="https://github.com/Digvijayjakhaniya" target="_blank" class="m-lg-2"><i class="fab fa-github i-color fa-2xl"></i></a>
        <a href="https://wa.me/9664679783" target="_blank" class="m-lg-2"><i class="fab fa-whatsapp i-color fa-2xl"></i></a>
        <a href="https://twitter.com/Digvijay__02"target="_blank" class="m-lg-2"><i class="fab fa-x-twitter i-color fa-2xl"></i></a>
    </div>
</div>
<%- include('./includes/footer.ejs') %>